
@import './base.css';
@import './tailwind.css';
@import './transition.css';
@import './markdwon.less';

html{
  font-size: 16px;
}

.w-v-40 {
  width: 40vw;
}

.router-link-active {
  color: var(--el-color-primary) !important;
}
